@page "/Employee/Hire"
@using CarePartnersPortal.Data
@inject NavigationManager NavigationManager
@inject DBContext db

    <EditForm Model="@hire" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <h2 style="padding-bottom:15px">Employee Hire Form</h2>

        <div class="col-md-5">
        <div class="form-group">
            <label style="text-align:right">Hire Type:</label><br />
            <InputSelect class="form-control" @bind-Value="hire.HireType">
                @foreach (HireType types in db.HireTypes)
                {
                    <option value="@types.Type">@types.Type</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label style="text-align:right">Start Date:</label><br />
            <InputDate class="form-control" @bind-Value="hire.StartDate" />            
        </div>
        <div class="form-group">
            <label style="text-align:right">First Name:</label><br />
            <InputText class="form-control" @bind-Value="hire.FirstName" />
        </div>
        <div class="form-group">
            <label style="text-align:right">Last Name:</label><br />
            <InputText class="form-control" @bind-Value="hire.LastName" />
        </div>
        <div class="form-group">
            <label style="text-align:right">Employee Number:</label><br />
            <InputText class="form-control" @bind-Value="hire.EmployeeNumber" />
        </div>
        <div class="form-group">
            <label style="text-align:right">Region:</label><br />
            <InputSelect class="form-control" @bind-Value="hire.Region">
                @foreach (Branch branch in db.Branches)
                {
                    <option value="@branch.Name">@branch.Name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label style="text-align:right">Department:</label><br />
            <InputSelect class="form-control" @bind-Value="hire.Department">
                @foreach (Department department in db.Departments)
                {
                    <option value="@department.Name">@department.Name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label style="text-align:right">Job Title:</label><br />
            <InputSelect class="form-control" @bind-Value="hire.JobTitle">
                @foreach (JobTitle jobTitle in db.JobTitles)
                {
                    <option value="@jobTitle.Name">@jobTitle.Name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label style="text-align:right">Additional Requirements:</label><br />
            <InputTextArea class="form-control" @bind-Value="hire.AdditonalRequirements" />
        </div>
</div>


        <button class="btn btn-lg btn-primary" type="submit">Submit</button><br /><br />
        <ValidationSummary />
    </EditForm>

@code {
    private EmployeeHire hire = new EmployeeHire();
    private GlobalForm form = new GlobalForm();
    private Email email = new Email();

    

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    protected void HandleValidSubmit()
    {
        email.Subject = $"Employee Exit for {hire.FirstName} {hire.LastName} for {hire.StartDate}";
        email.From = "jeff.butler@carepartners.ca";
        email.To = "jeff.butler@carepartners.ca";
        email.Body = $"Employee Exit for {hire.FirstName} {hire.LastName} for {hire.StartDate}\r\n\r\n";
        email.Body += $"Hire Type: {hire.HireType}\r\n";
        email.Body += $"Start Date: {hire.StartDate}\r\n";
        email.Body += $"Employee Name: {hire.FirstName} {hire.LastName}\r\n";
        email.Body += $"Region: {hire.Region}\r\n";
        email.Body += $"Job Title: {hire.JobTitle}\r\n";
        email.Body += $"Department: {hire.Department}\r\n";
        email.Body += $"Comments: {hire.AdditonalRequirements}\r\n";

        try
        {
            email.Send();
        }
        catch
        {
            email.From = "CarePartnersPortal@carepartners.ca";
            try
            {
                email.Send();
            }
            catch
            {

            }
        }
    }
}
